[
  {
    "pattern": ["hello", "branchkit"],
    "action": { "type": "{{.ActionPrefix}}.greet", "name": "BranchKit" },
    "description": "Say Hello BranchKit"
  },
  {
    "pattern": ["hello", "<text>"],
    "action": { "type": "{{.ActionPrefix}}.greet", "name": "{text}" },
    "description": "Greet someone by name"
  }
]
